venv/
__pycache__/
*.pyc
.DS_Store
.env
.pytest_cache/
*.sqlite3
tests/
xendit-python/

# Documentation & Notes
*.md
!README.md

# Generated Content
app/static/uploads/*
!app/static/uploads/.gitkeep
app/static/qrcodes/*
